.flag--small {
  max-width: 50px;
}
.flag--big {
  max-width: 200px;
}

.detail__label {
  font-size: 1.2em;
  font-weight: bold;
  width: 100px;
}
.card {
  width: 300px;
}
.details-page {
  padding: 20px;
}
